.ux-radio-group {
    
}

.ux-radio-group-disabled {

}

.ux-radio-group-field {
    flex-direction: row;
    flex-wrap: wrap;
}

.ux-radio-label {
    margin-left: 4px;
}

.ux-radio {
    margin-right: 10px;
}

.ux-radio-cursor {
    cursor: link;
}

.ux-radio-cursor-disabled {
    cursor: arrow;
}