.cproject
.project
.pydevproject
.sconsign.dblite

*.pyc
*.suo

.settings/
.localhistory/
Dbg/
Opt/

*/Temp/
*/TestResults/
._*

*/.svn/
.svn/
bin/
Bin/
obj/
_ReSharper.CSharp/
*.opensdf
*.sdf
/CSharp/CSharp.sln.ide
/Unity/Library
/Unity/CSharp60Support/compilation log.txt
/CSharp/CSharp.VC.opendb
/Server/Server.VC.opendb
/Log
/Temp
/Logs
/Unity/CSharp60Support/compilation.log
/.vs
/Server/.vs/
/Unity/.vs/
/Tools/MongoDB
/Excel/md5.txt
/Release
.idea/
/Unity/Logs
/netcoreapp2.0
.DS_Store
Server/.DS_Store
/Server/.vscode/
.vs/
.objs/
/Unity/.gradle
/*.user
/.git*
/ToolsApp/
/Unity/Unity.Editor.csproj
/Unity/Assembly-CSharp.csproj
~$*.xlsx
~$*.xlsx.meta
/.vscode
/Unity/UserSettings/Search.settings
/Unity/ProjectSettings/RiderScriptEditorPersistedState.asset
/Unity/UserSettings
Publish/

/Unity/Assets/Bundles/AotDlls
/Unity/Assets/Bundles/AotDlls.meta
/Unity/HybridCLRData
global.json
Unity/ProjectSettings/EditorBuildSettings.asset
Unity/ProjectSettings/EditorBuildSettings.asset

/Unity/Assets/StreamingAssets/*
