/Scripts/Library/EnhancedScroller
/Scripts/Library/EnhancedScroller.meta
/Scripts/Library/SLATE Cinematic Sequencer
/Scripts/Library/SLATE Cinematic Sequencer.meta
/Scripts/Library/SmartUiSelection
/Scripts/Library/SmartUiSelection.meta
/Scripts/Library/StompyRobot
/Scripts/Library/StompyRobot.meta
/Scripts/Plugins/Demigiant
/Scripts/Plugins/Demigiant.meta
/Scripts/Plugins/Sirenix
/Scripts/Plugins/Sirenix.meta
