/Scripts/Library/EnhancedScroller
/Scripts/Library/EnhancedScroller.meta
/Scripts/Library/SLATE Cinematic Sequencer
/Scripts/Library/SLATE Cinematic Sequencer.meta
/Scripts/Library/SmartUiSelection
/Scripts/Library/SmartUiSelection.meta
/Scripts/Library/StompyRobot
/Scripts/Library/StompyRobot.meta
/Scripts/Library/uNode
/Scripts/Library/uNode.meta
/Plugins/Demigiant
/Plugins/Demigiant.meta
/Plugins/Sirenix
/Plugins/Sirenix.meta
/Plugins/Animancer
/Plugins/Animancer.meta
